<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Meu Currículo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>João Martins</h1>

        <p>Estudante de informática</p>

        <h2>Sobre mim</h2>
        <p>Gosto de tecnologia, programação e academia.</p>

        <h2>Habilidades</h2>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>HTML/CSS básico</li>
        </ul>

        <h2>Contato</h2>
        <p>Email: martinssoaresjoao10@email.com</p>
    </div>

</body>
</html>