<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Sobre ser estudante de TI

{% endblock %}

{% block content %}
<h1>Sobre ser estudante de TI</h1>

<p>Conteúdo de página sobre ser estudante de TI

    Ser estudante de TI é uma jornada cheia de aprendizado constante: hoje é Python, amanhã é Flask, depois vem banco de dados, redes, e por aí vai. É normal se sentir perdido às vezes, mas cada erro no código é um passo a mais no aprendizado. O importante é praticar bastante, tirar dúvidas e não ter medo de quebrar as coisas para aprender como consertar. 😅
</p>
{% endblock %}
